


<%- include('Header.ejs') %>

<div class="content">
  <div class="container-fluid">
    <div class="row">

      <%- include('SteamDataFetchTool.ejs') %>


      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <h4 class="card-title">Adicionar Ban</h4>
            <p class="card-category">Formulário para adicionar um novo ban</p>
          </div>
          <div class="card-body">
            <form id="myForm_addVIP">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Tipo de ban</label>
                    <select class="form-control" id="ban_type" name="banType" required>
                      <option value="steamid" selected>Steam ID</option>
                      <!-- <option value="ipaddress">IP Address</option> -->
                    </select>
                  </div>

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Inserir usuário</label>
                    <input id="name_add" type="text" class="form-control" required>
                  </div>

                  <div class="form-group bmd-form-group"">
                    <label class=" bmd-label-floating">Inserir Steam ID</label>
                    <input id="steamId_add" type="text" class="form-control" value="STEAM_X:Y:Z" required>
                  </div>

                  <!-- <div class="form-group bmd-form-group" id="ban_ip_input">
                  </div> -->

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Motivo do ban</label>
                    <select class="form-control" id="ban_reason" name="banReason" required>
                      <option value="" selected> -- Selecionar Motivo -- </option>
                      <optgroup label="Hacking">
                        <option value="Aimbot">Aimbot</option>
                        <option value="Antirecoil">Antirecoil</option>
                        <option value="Wallhack">Wallhack</option>
                        <option value="Spinhack">Spinhack</option>
                        <option value="Multi-Hack">Multi-Hack</option>
                        <option value="No Smoke">No Smoke</option>
                        <option value="No Flash">No Flash</option>
                      </optgroup>
                      <optgroup label="Behavior">
                        <option value="Team Killing">Team Killing</option>
                        <option value="Team Flashing">Team Flashing</option>
                        <option value="Spamming Mic/Chat">Spamming Mic/Chat</option>
                        <option value="Inappropriate Spray">Inappropriate Spray</option>
                        <option value="Inappropriate Language">Inappropriate Language</option>
                        <option value="Inappropriate Name">Inappropriate Name</option>
                        <option value="Ignoring Admins">Ignoring Admins</option>
                        <option value="Team Stacking">Team Stacking</option>
                      </optgroup>
                      <option value="OtherReason">Other Reasons</option>
                    </select>
                  </div>
                  <div class="form-group bmd-form-group" id="other_reason_input">
                  </div>

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Duração do ban</label>
                    <select class="form-control" id="ban_length" name="banReason" required>
                      <option value="" selected>Selecionar duração do ban</option>
                      <option value="30">30 Minutos</option>
                      <option value="60">1 Hora</option>
                      <option value="120">2 Horas</option>
                      <option value="240">4 Horas</option>
                      <option value="360">6 Horas</option>
                      <option value="1440">1 Dia</option>
                      <option value="2880">2 Dias</option>
                      <option value="5760">4 Dias</option>
                      <option value="8640">6 Dias</option>
                      <option value="60480">1 Semana</option>
                      <option value="262800">1 Mês</option>
                      <option value="0">Permanente</option>
                    </select>
                  </div>

                  <div class="form-group bmd-form-group">
                    <!-- <label class="">Selecione qualquer servidor para adicionar o ban (O ban vai ser adicionado através do Rcon,
                      irá direto para o banco de dados do sourcebans)
                    </label> -->
                    <select class="form-control" id="ban_server_add" name="ban_server_add" required>
                      <option value="" selected>Selecionar servidor</option>
                      <% if(serverList) {%>
                      <% for(let i=0; i < serverList.length; i++) { %>
                      <option value="<%=serverList[i].tbl_name%>"><%=serverList[i].server_name%></option>
                      <%}}%>
                    </select>
                  </div>

                </div>
              </div>
              <button type="button" onclick="addSourceBansBanajax()" class="btn btn-success pull-right">ADICIONAR BAN</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-<%=panelSetting.color_theme%>">
            <h4 class="card-title">Adicionar ban de comunicação</h4>
            <p class="card-category">Formulário para adicionar um novo ban de comunicação</p>
          </div>
          <div class="card-body">
            <form id="myForm_addVIP">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Tipo de ban de Comms</label>
                    <select class="form-control" id="commban_type" name="banType" required>
                      <option value="voiceonly" selected>Somente voz</option>
                      <option value="chatonly">Somente chat</option>
                      <option value="chatandvoice">Chat e Voz</option>
                    </select>
                  </div>

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Inserir usuário</label>
                    <input id="name_comm" type="text" class="form-control" required>
                  </div>

                  <div class="form-group bmd-form-group"">
                                <label class=" bmd-label-floating">Inserir STEAM ID</label>
                    <input id="steamId_update" type="text" class="form-control" value="STEAM_X:Y:Z" required>
                  </div>

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Motivo do Ban</label>
                    <select class="form-control" id="commban_reason" name="banReason" required>
                      <option value="" selected> -- Selecionar motivo -- </option>
                      <optgroup label="Violation">
                        <option value="Obscene language">Linguagem obscena</option>
                        <option value="Insult players">Insultar jogadores</option>
                        <option value="Admin disrespect">Desrespeitar admin</option>
                        <option value="Inappropriate Language">Linguagem inapropriada</option>
                        <option value="Trading">Trocas</option>
                        <option value="Spam in chat/voice">Spam</option>
                        <option value="Advertisement">Anuncio</option>
                      </optgroup>
                      <option value="OtherReason">Outros motivos</option>
                    </select>
                  </div>
                  <div class="form-group bmd-form-group" id="other_reason_inputcomm">
                  </div>

                  <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Duração do ban</label>
                    <select class="form-control" id="commban_length" name="banReason" required>\
                      <option value="" selected>Selecionar duração do ban</option>
                      <option value="30">30 Minutos</option>
                      <option value="60">1 Hora</option>
                      <option value="120">2 Horas</option>
                      <option value="240">4 Horas</option>
                      <option value="360">6 Horas</option>
                      <option value="1440">1 Dia</option>
                      <option value="2880">2 Dias</option>
                      <option value="5760">4 Dias</option>
                      <option value="8640">6 Dias</option>
                      <option value="60480">1 semana</option>
                      <option value="262800">1 Mês</option>
                      <option value="0">Permanente</option>
                    </select>
                  </div>

                  <div class="form-group bmd-form-group">
                    <!-- <label class="">Selecione qualquer servidor para adicionar o ban (O ban vai ser adicionado através do Rcon,
                      irá direto para o banco de dados do sourcebans)</label> -->
                    <select class="form-control" id="commban_server_add" name="ban_server_add" required>
                      <option value="" selected>Selecionar servidor</option>
                      <% if(serverList) {%>
                      <% for(let i=0; i < serverList.length; i++) { %>
                      <option value="<%=serverList[i].tbl_name%>"><%=serverList[i].server_name%></option>
                      <%}}%>
                    </select>
                  </div>

                </div>
              </div>
              <button type="button" onclick="addSourceBansCommBanajax()" class="btn btn-success pull-right">ADICIONAR BAN DE COMMS</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<%- include('Footer.ejs') %>

<script src="./js/sourceBans.js"></script>
<script src="./js/customConfirm.js"></script>
<script src="./js/notifications.js"></script>
<script src="./js/steamIdFinder.js"></script>
<script src="./js/steamIdOperations/BigInteger.min.js"></script>
<script src="./js/steamIdOperations/steamIDconverter.js"></script>